* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to bottom, rgba(30, 4, 46, 0.493), rgba(6, 5, 43, 0.73)), url('/assets/bg/bg.png');

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

:root {
  /* Colors: */
  --surface: #eeeeee;
  --outline: #e4e4e4;
  --dark-hard: #000000;
  --dark_soft: #9f9f9f;
  --light-medium: #ffffff;
  --light-hard: #ffffff;
  --primary: #1dffe0;
  --secondary: #6a0572;
  --unnamed-color-121212: #121212;

  /* Font/text values */
  --font-family-roboto: Roboto;
  --font-style-normal: normal;
  --font-weight-medium: medium;
  --font-weight-normal: normal;
  --font-weight-bold: bold;
  --font-size-10: 10px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-20: 20px;
  --character-spacing-1-5: 1.5px;
  --character-spacing-1-25: 1.25px;
  --character-spacing-0-15: 0.15px;
  --character-spacing-0-25: 0.25px;
  --character-spacing-0-5: 0.5px;
  --line-spacing-16: 16px;
  --line-spacing-20: 20px;
  --line-spacing-24: 24px;
  --text-transform-uppercase: uppercase;
}
